.row
  - box 12, "Listing Tags" do
    %table.table.table-striped.table-bordered.table-hover.dataTable
      %thead
        %tr
          %th Actions
          %th Name
          %th Tag Type
          %th Featured
      %tbody
        - @tags.each do |tag|
          %tr
            %td
              = link_to 'View', tag
              |
              = link_to 'Edit', edit_tag_path(tag)
              |
              = link_to 'Delete', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }
            %td= tag.name
            %td
              %span.labelObjectTag= tag.tag_type_label
            %td= boolean_YN(tag.featured)

    = link_to 'New Tag', (@event.present? ? new_event_tag_path(@event) : new_tag_path()), class: 'btn btn-primary'
