= simple_form_for(resource, url: url, :html => { :class => "form-horizontal", :id => "inline-validate" }, :wrapper => "horizontal", defaults: { :input_html => { class: "form-control"}, label_html: { class: "col-lg-4" } } ) do |f|
  = f.error_notification
  .form-inputs
    = f.input :open_date, as: :string, input_html: { class: "datetimepicker form-control" }
    = f.input :closed_date, as: :string, input_html: { class: "datetimepicker form-control" }
    = f.input :name
    = simple_form_image_paperclip(f, :promotion_image)
    = f.input :description, input_html: {style: "height: 100px;"}
    = f.association :booth, collection: (@booth.present? ? [@booth] : @event.booths), input_html: {class: "chosen"}
    = f.input :redemption_instructions, input_html: {class: "cleditor"}
    =render(layout: "_shared/control/enum_picker", locals: {enum_type: PromotionType, field: :promotion_type, f: f}) do |type|
      -case type
      -when :external_site.to_s
        = f.input :promotion_url
      -when :std_cart_deal.to_s
        = f.input :promotion_code, label: "Override Promotion Code"
  .form-actions
    = f.button :submit, :class => "btn btn-primary"
  .blankArea{style:"height: 200px"}
    &nbsp;
